<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    </head>
    <body>
        <div id="app"></div>
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
